/* .foot{
    height: 100%;
    width: 100%;
    padding: 10%;
}


.back2top i{
    background: #fcd462;
    color: #1c1b19;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
} */

/* DUMMY */