.nav{
    padding: 30px;
    width: 90%;
    background-color: #353530;
    height: 130px;
    margin:0 5% 0;
    z-index: 2;
    position: absolute;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
    height: 100px;
    justify-content: space-around;
 }
  .dropdown a{
    position: relative;
    font-size: 17px;
    top:25%;
  }
.dropdown-content {
    display: none;
    position: absolute;
    background-color:#353530;
    top:100px;
    min-width: 220px;
    z-index: 1;
  }
.dropdown-content-i{
    display: flex;
    visibility: hidden;
    position: absolute;
    background-color:#353530;
    justify-content: space-around;
    top:100px;
    left: -510px;
    width: 1100px;
    z-index: 1;
  }
  .dropdown-content-i img{
    height: 240px;
    width:240px;
    position: relative;
    top:20px;
  }
  .dropdown-content-i ul{
    color:white;
    display: flex;
    flex-direction: column;
    font-size: 5px;
  }
  .dropdown-content-i a {
    color:grey;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 15px;
    display: block;
  }
  .dropdown-content-i h5{
    color:white;
  }
  .dropdown-content a {
    color:grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color:#fcd462;color: grey;}
  .dropdown-content-i a:hover {background-color:transparent;color:#fcd462;}
  .ul_hover a:hover{
    color:white;
  }
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropdown-content-i {visibility: visible;}
  
  .verline1{
    border-left:3px solid #fcd462;
    height:50px;
  }
  .verline2{
    border-right: 1px solid grey;
    height:288px;
  }
  #pic1{
    height:60px;
    width:200px;
  }