.my_prods{
    min-width: 258px;
    max-width: 258px;
    height:358px;
    background-image:url(/public/images/product.jpg);
    margin: 0px 15px;
    color:white;
}
.prod-div{
    margin: 20px;
    text-align: center;
}
.prod-div div{
    height: 30px;
    width: 60px;
    margin-bottom: 10px;
}
.psale{
    color: black;
    background-color: #fcd462;
}
.pdis{
    color: black;
    background-color: white;
}



.pcart button{
    position: relative;
    top: 300px;
    left: 32px;
    background-color: #fcd462;
    border: none;
    height: 50px;
    width: 200px;
}